* {
  --mainColor: rgb(109, 158, 250);
  --secondColor: beige;
  --thirdColor: rgb(63, 62, 62);
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  height: 10%;
  width: 100%;
  background-color: var(--mainColor);
}
.logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
.logo-img {
  height: 11rem;
}
.location-container {
  margin-bottom: 5px;
  margin-right: 5px;
}

/* main content */
.weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80%;
  width: 100%;
  background-color: var(--secondColor);
}

.location-headder {
  height: 10%;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.weather-cards {
  opacity: 0;
  transform: translateY(-20px);
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'mainTemp mainTemp'
    'minTemp maxTemp'
    'humidity pressure';
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.main-temp {
  grid-area: mainTemp;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 1fr;
  grid-template-areas:
    'mainHeading mainHeading'
    'wind mainValue';
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--mainColor);
  border-radius: 1rem;
  box-shadow: 3px 5px 4px black;
}
.main-temp .heading {
  grid-area: mainHeading;
}
.wind {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  font-weight: bold;
}

.speed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.direction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-value {
  align-self: center;
  font-size: 3rem;
  font-weight: bold;
}

.min-temp {
  grid-area: minTemp;

  display: grid;
  grid-template-rows: 30% 1fr;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--mainColor);

  border-radius: 1rem;
  box-shadow: 3px 5px 4px black;
}
.max-temp {
  grid-area: maxTemp;

  display: grid;
  grid-template-rows: 30% 1fr;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--mainColor);

  border-radius: 1rem;
  box-shadow: 3px 5px 4px black;
}
.humidity {
  grid-area: humidity;

  display: grid;
  grid-template-rows: 30% 1fr;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--mainColor);

  border-radius: 1rem;
  box-shadow: 3px 5px 4px black;
}
.pressure {
  grid-area: pressure;

  display: grid;
  grid-template-rows: 30% 1fr;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--mainColor);

  border-radius: 1rem;
  box-shadow: 3px 5px 4px black;
}
.max-value,
.min-value,
.humidity-value {
  height: 2rem;
  font-size: 3rem;
}
.heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.arrow-img {
  height: 20px;
}

/* footer */
.weather-footer {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: var(--thirdColor);
}

.temp-choice {
  align-items: center;
  display: flex;
}
.type-slider {
  position: relative;

  display: grid;
}

.slider {
  border-radius: 3rem;
  background-color: rgb(253, 89, 89);
  width: 50px;
  height: 15px;
  display: block;
}
.ball {
  touch-action: none;
  cursor: pointer;
  top: -6px;
  left: -3px;
  transform: translateX(0);
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(122, 40, 255);
  width: 25px;
  height: 25px;
  display: block;
  z-index: 8;
  transition: transform 150ms ease-in-out;
}

.choice {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}
